@page
@{
    ViewData["Title"] = "Contact Us";
}
<h1>@ViewData["Title"]</h1>

<p>Email us! <a href="mailto:hello@rockaway.dev">hello@rockaway.dev</a></p>

<p>Call us! <a href="tel:02055551234">020 5555 1234</a></p>